.home {
    font-family: 'Hypocrite';
    display: center;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 30em;
    color: #003adf;
  }
  .work {
    font-family: 'Hypocrite';
    display: center;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 30em;
    color: #003adf;
  }
  .about-us {
    font-family: 'Hypocrite';
    display: center;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 30em;
    color: #003adf;
  }
  .say-hi {
    font-family: 'Hypocrite';
    display: center;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 30em;
    color: #003adf;
  }